@mixin vbox() {
  display: flex;
  flex-direction: column;
}

@mixin vbox-reverse() {
  display: flex;
  flex-direction: column-reverse;
}

@mixin hbox() {
  display: flex;
  flex-direction: row;
}

@mixin cross-center() {
  display: flex;
  align-items: center;
}

@mixin center() {
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin stretch() {
  align-items: stretch;
}

@mixin cross-stretch() {
  align-content: stretch;
}