
.widget_theme_audio_widget {

  margin: 0;
  margin-right: 1rem;
  padding: 0;

  .mejs-audio {
    width: auto !important;
  }

  .mejs-controls {

    .mejs-time,
    .mejs-time-rail {
      display: none;
    }

  }


  .controls, .controls label {
    @include hbox;
    color: $lightblue-transparent;
    align-items: center;
    align-self: center;
    margin: 0;
  }
  
  .controls {
    font-size: 1em;

    z-index: 1;

    label {
      padding-top: 3px;
    }
  }

  

}

.widget-audio-player {

  /* @include hbox; */
  display: inline-block;
  margin-right: $column-gutter;

  > button {

    display: none;
    border: thin solid $color-font-header;
    background-color: transparent;
    color: $color-font-header;
    border-radius: 0.15em;
    padding: 0.3em 0.5em;
    font-size: $font-size-small;

    > span {

      @media screen and (min-width: 48em) {
        display: none;
      }

    }

  }

  &.playing {

    button.pause {

      display: flex;

    }

  }

  &.paused {

    button.play {

      display: flex;

    }

  }


  .loading {

    button {

      display: none;

    }

  }

}


.js .widget-audio-player {



}
