/** page content */


body,
html,
button,
input,
select,
textarea {
}


html, body {

  @include vbox;
  min-height: 100%;
  flex: 1;
  align-content: stretch;

  color: $color-font-header;

  .site {

    @include vbox;
    flex: 1;
    align-content: stretch;


  }
}

.entry-header, .entry-content {

  display: block;
  float: none !important;
  width: auto !important;
  margin-bottom: 1.5rem;

  .wp-caption {
    
    background:  transparent;
    border: none;
  }

  .wp-caption-text {
    font-size: 1.5rem;
  }

}

.entry-content {

  ul, ol {
    margin-left: 1rem;
    font-size: 0.75rem;
  }

}

.site-content-contain {

  background-color: transparent;

  .content-area {

    color: $color-font-header;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;

  }

}


.entry-footer {
  
  border: 0;

}
