/** page content */


body,
html,
button,
input,
select,
textarea {
  color: #333;
  font-family: $font-family-sans-serif-regular;
  font-size: $font-size-base;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
}


html, body {

  @include vbox;
  min-height: 100%;
  flex: 1;
  align-content: stretch;

  @include font-default;
  color: $color-font-header;

  .site {

    @include vbox;
    flex: 1;
    align-content: stretch;


  }
}

.entry-header, .entry-content {

  display: block;
  float: none !important;
  width: auto !important;

  .wp-caption {
    
    background:  transparent;
    border: none;

  }

  .wp-caption-text {

    @include font-link;
    color: $color-font-header;
    font-size: 1.2em;
  }

}

.site-content-contain {

  background-color: transparent;

  .content-area {

    @include resp_margin_top();
    @include font-default;
    font: $font-family-sans-serif-regular;
    color: $color-font-header;
    font-weight: bolder;
    line-height: $font-size-base * 1.4;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;

  }

}


.entry-footer {
  
  border: 0;

}
