

.site-footer {
  @include hbox;
  background-color: rgba(1, 156, 210, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .widget {
    padding: 0;
  }

  .widget-area {
    @include hbox;
    @include stretch;
    justify-content: center;

    margin-top: -0.2rem;
    &:not(:first-of-type) {
      margin-top: -1.3rem;
    }

    .footer-widget-start,
    .footer-widget-end {
      align-self: center;
      align-content: center;
    }

    .footer-widget-start {
      align-items: start;
    }

    .footer-widget-end {
      align-items: end;
    }

    .footer-widget-center {
      align-items: center;
      flex: 1;

      ul {
        @include hbox;
        @include center;

        li {
          margin: 0 0.35rem; 
        }


        &.menu {
          text-transform: unset;
          font-weight: 100;

        }
      }
    }


    .widget-column {

      @include center;

    }

    .footer-navigation {
      padding-top: 0.3rem;
      padding-bottom: 0.4rem;

      .menu > li > a {
        color: rgba(255,255,255,0.6);
      }

      .menu > li.current-menu-item > a {
        color: rgba(255,255,255,0.4);
      }
    }

  }

  .widget_nav_menu {
    padding: 0;    
  }

  img {
    @include __debug() {
      border: 1px solid white;
    }
  }

  ul:not(.menu) {
    li {
      border: none;
    }
  }

}

.widget_media_image {
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 3rem;
}

.footer-widget-end {
  .widget_media_image {
    width: 4rem;
  }
}

@media screen and (min-width: $bp_medium) {
  .widget_media_image {
    width: 4rem;
  }


  .footer-widget-end {
    .widget_media_image {
      width: 4.5rem;
    }
  }
}

