

.site-footer {
  background-color: rgba(1, 156, 210, 1);
  width: 100%;
  display: inline-block;

  .widget-area {

    @include hbox;
    padding: 0;
    @include stretch;
    @include cross-stretch;

    .widget-column {
      
      @include hbox;
      @include cross-center;
      align-self: stretch;

      &.footer-widget-2 {
        flex: 1;
      }
      
      .widget {
        padding: 0;
      }

      .widget_apsi_widget {
        /* social app icons */
        
        @media screen and (min-width: $bp_medium) {
          align-self: start;
        }

        .aps-each-icon {
          @media screen and (min-width: $bp_medium) {
              margin: 0.25rem 0.5rem;
          }

          img {
            width: 48px;
            height: 48px;
            @include responsive-transform;
          }
        }

      }

      .widget_media_image {

        flex: 1;
        @include center;
        margin: 0;
        padding: 0;

        a {

          box-shadow: none;

          img {

            width: auto;

            transition: max-height 300ms linear;

            max-height: 64px;

            @include screen_minimum {
              max-height: 96px;
            }
            
            @include screen_medium {
              max-height: 150px;
            }

            box-shadow: none;

            /* @include responsive-transform; */

          }

        }

      }

    }

  }


}