

.site-footer {
  @include hbox;
  background-color: rgba(1, 156, 210, 1);

  .widget {
    padding: 0;
  }

  .widget-area {
    @include hbox;
    @include stretch;
    justify-content: center;

    .footer-widget-start,
    .footer-widget-end {
      align-self: center;
      width: 10rem;
      align-content: center;
    }

    .footer-widget-start {
      align-items: start;
    }

    .footer-widget-end {
      align-items: end;
    }

    .footer-widget-center {
      align-items: center;
      flex: 1;

      ul {
        @include hbox;
        @include center;

        li {
          margin: 0 0.35rem; 
        }


        &.menu {
          text-transform: unset;
          font-weight: 100;
        }
      }
    }


    .widget-column {

      @include center;

    }

    .footer-navigation {
      padding-top: 0.5rem;
      padding-bottom: 0.7rem;
    }

  }

  .widget_nav_menu {
    padding: 0;    
  }

  img {
    @include __debug() {
      border: 1px solid white;
    }
  }

  ul:not(.menu) {
    li {
      border: none;
    }
  }

}

.widget_media_image {
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 6rem;
}