

ul.menu {

  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;

  > li {
    margin: 0;
    padding: 1em 0.5em;
  }


  @include cross-center;
  @include vbox;

  @media screen and (min-width: $bp_medium) {
    
    @include hbox;

    align-content: center;
    align-items: center;

    > li,
    > li a {
      margin: 0;
      padding: 0;
    }

    li:not(:last-of-type) {

      margin-right: 1em;

    }

  }

}

.site-footer {

  ul.menu {

    height: 0.5rem;
    overflow: hidden;

    li {
      border: none;
      margin: 0;
    }

    li:not(:first-of-type) {
      padding-left: 1em;
    }
    li:not(:last-of-type) {

      padding-right: 1em;
      border-right: thin solid;

    }



  }

}