.site-header {
  background: transparent;
}

.navigation-top {

  background-color: $color-background-header;
  border: 0;

  @include stretch;

  .wrap {
    width: 100%;    
  }

  .main-navigation {

    .navigation-wrapper {

      flex-wrap: wrap;
      /* flex-direction: row;
      align-self: center; */

      @include resp_menu();

      > div, > section {
        padding: 0;
        display: flex;
        flex-direction: row;
      }

      > section > audio {

        display: none;

      }

      .spacer {

        flex: 1;

      }



    }
  
    .menu-toggle {
      
      margin: 0; 
      border-bottom: 1px solid $light-transparent-50;
      color: $color-font-header;
      width: 100%;
      background-color: $light-transparent-50;

    }

    ul, ul li {
      background: transparent;
      margin: 0;
      padding: 0;
    }

    .menu-main-navigation-container {
    
      margin-left: 1.25em;
    
    }

    @include font-link;
    color: $color-font-header;

    a {

      color: $color-font-header;
      padding: 0;
      text-transform: uppercase;      

    }

  }

  select {

    height: 35px;

  }

}

.js .main-navigation.toggled-on {

  .menu-main-navigation-container {
    margin-left: 0;
  }

  div>ul {

    display: block;
    padding: 0;
    width: 100%;

    li {
      text-align: center;
    }
  }


  .menu-toggle {
    
    margin: 0;
    border: none;
    color: $color-font-header;
    width: 100%;
    background-color: $light-transparent-50;


  }

}


@media screen and (min-width: 48em) {

  .js .main-navigation .navigation-wrapper {
   
    ul,
    ul ul,
    div > div > ul {
      width: auto;
      display: flex;
    }

  }

  .navigation-top {

    @include hbox;

    nav {
      margin-left: 0;      
    }

    .main-navigation {


      .navigation-wrapper {

        flex-wrap: nowrap;
        align-self: center;

        > div, > section {
          margin: 0;
          margin-right: $column-gutter;
          
          a {
            margin-right: $column-gutter;
          }
          
        }


        /* padding: 0.65em 0; */
        @include hbox;
    
      }
    
    }


  }


}

