.site-header {
  background: transparent;
}

.navigation-top {

  background-color: $color-background-header;
  border: 0;

  @include stretch;

  .wrap {
    width: 100%;    
  }

  .main-navigation {

    .navigation-wrapper {

      .menu-main-navigation-container {

        align-items: stretch;

      }

      flex-wrap: wrap;
      /* flex-direction: row;
      align-self: center; */

      @include resp_menu();

      > div, > section {
        padding: 0;
        display: flex;
        @include hbox;
      }

      .navigation-widgets > section > audio {

        display: none;

      }

      .spacer {

        flex: 1;

      }



    }
  
    .menu-toggle {
      
      margin: 0; 
      border-bottom: 1px solid $light-transparent-50;
      color: $color-font-header;
      width: 100%;
      background-color: $light-transparent-50;

    }

    ul, ul li {
      background: transparent;
      margin: 0;
      padding: 0;
    }

    .menu-main-navigation-container {
    
      margin-left: 1.25em;
    
    }

    @include font-link;
    color: $color-font-header;

    a {

      color: $color-font-header;
      padding: 0;
      text-transform: uppercase;      

    }

  }

  select {

    height: 35px;

  }

}

.js .main-navigation.toggled-on {

  .menu-main-navigation-container {
    margin-left: 0;
  }

  div>ul {

    display: block;
    padding: 0;
    width: 100%;

    li {
      text-align: center;
    }
  }


  .menu-toggle {
    
    margin: 0;
    border: none;
    color: $color-font-header;
    width: 100%;
    background-color: $light-transparent-50;


  }

}


@media screen and (min-width: 48em) {

  .js .main-navigation .navigation-wrapper {
   
    ul,
    ul ul,
    div > div > ul {
      width: auto;
      display: flex;
    }

  }

  .navigation-top {

    @include hbox;

    nav {
      margin-left: 0;      
    }

    .main-navigation {


      .navigation-wrapper {

        flex-wrap: nowrap;
        align-self: center;

        > div, > section {
          margin: 0;
          margin-right: $column-gutter;
          
          a {
            margin-right: $column-gutter;
          }
          
        }


        /* padding: 0.65em 0; */
        @include hbox;
    
      }
    
    }


  }


}

@media #{$medium-screen} {

  .main-navigation .navigation-wrapper {

    flex-direction: column;

  }

}

/* new approach */

nav.nav {

  display: flex;
  flex-direction: column;
  width: 100%;

  @media #{$medium-screen} {
    flex-direction: column;
    align-content: stretch;
    align-self: stretch;
  }

  @media #{$wide-screen} {
    flex-direction: row;
    align-items: stretch;
  }

  > button {

    display: block;

    @media #{$medium-screen} {
      display: none;
    }

    @media #{$wide-screen} {
      flex-direction: row;
      align-items: stretch;
    }

  }

  .spacer {

    display: none;

    &.spacer-medium {

      @media #{$medium-screen} {
        display: flex;
        flex: 1;
      }

      @media #{$wide-screen} {
        display: none;
      }

    }

    &.spacer-wide {

      @media #{$wide-screen} {
        display: flex;
        flex: 1;  
      }

    }
    

  }

  ul, li {
    display: flex;
    margin: 0;
  }

  li {
    padding: 5px 2px;
  }

  /* outer */
  > ul {

    border: 1px solid red;
    flex: 1;
    @include vbox;

    > li > ul {

      flex: 1;
      @include vbox;

      align-items: center;

      @media #{$medium-screen} {
        align-items: stretch;
        @include hbox;
      }
    }

    @media #{$wide-screen} {

      flex: 1;
      @include hbox;

      li {
        display: flex;
        @include hbox;
      }

      > li > ul.links {
        @include hbox;
      }
      

    }

  }

  /*
  
  > ul li ul {
    
    @media #{$wide-screen} {
      align-items: stretch;
    }

    @media #{$medium-screen} {
      &.widgets {
        flex: 1;
      }
      align-items: stretch;
    }

  }
  */

}


.nav .debug {

  position: fixed;
  top: 0;

  .small {
    color: red;
  }

  .medium {
    color: blue;
  }

  .wide {
    color: green;
  }

  > * {
    display: none;
  }

  .small {
    display: block;
  }

  @media #{$wide-screen} {
    .wide {
      display: block;
    }
  }

  @media #{$medium-screen} {
    .medium {
      display: block;
    }
  }

}
