
.navigation-top {

  position: relative;
  background-color: $color-background-header;
  border: 0;
  color: $color-font-bright;
  font-size: 1.6em;


  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

  .wrap {

    @include hbox;
    @include center;

  }

}

.main-navigation {

  position: relative;
  width: 100%;
  
  .rm-root {
    position: relative;
    @include vbox;
    
    @include center;

    .rm-level-1 {
      position: relative;
      @include hbox;
      @include cross-center;
      align-self: center;
      margin-top: 1.4rem;
      padding-bottom: 1.4rem;

      flex: 1;
    }
  }

  > button {
    font-size: 1.78rem;
  }

  &:not(.toggled-on) .rm-root {
      
      display: none;

      @media screen and (min-width: $bp_medium) {
        display: flex;
      }
  }

}

@media screen and (min-width: $bp_medium) {

  
  .navigation-top {
    font-size: 1rem;
  }

  .main-navigation {

    width: auto;
    width: 100%;

    .rm-root {
      @include hbox;
      @include stretch;

      .rm-level-1 {
        margin-top: 0;
        padding-bottom: 0;

        .rm-spacer-x {
          flex: 1;
          min-width: 1rem;
        }
      }
    }

  }
}

@media screen and (min-width: $bp_large) {
  
  .navigation-top {
    font-size: 1em;
  }

  .main-navigation {
    
    .rm-root {

      .rm-level-1 {
        position: absolute;
        left: 100%;
        margin-top: 0;

        .rm-spacer-x {
          width: 1.6rem;
        }
      }


      @include stretch;

      ul, ul > li, .menu-main-navigation-container {
        align-items: flex-start;
      }

    }

  }

}


.footer-navigation {
  ul.menu {
    
    flex-direction: row;
    font-weight: 100;
    text-transform: unset;
    font-size: 0.5rem;

  }
}

.widget_nav_menu {

  padding-top: 1rem;
  flex-direction: row;

  h2.widget-title {
      display: none;
  }

}