
.navigation-top {

  position: relative;
  background-color: $color-background-header;
  border: 0;
  color: $color-font-bright;
  
  font-size: 1.78rem;

  @media screen and (min-width: $bp_medium) {
    font-size: 0.5rem;
  }


  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

}

.main-navigation {

  > button {
    font-size: 1.78rem;
  }

  &:not(.toggled-on) .rm-root {
      
      display: none;

      @media screen and (min-width: $bp_medium) {
        display: flex;
      }
  }

}

.rm-root, .rm-level-1 {
  align-items: center;
}

.rm-root {  

  @media screen and (min-width: $bp_medium) {
    
    position: relative;

    font-size: 1.5em;
    
    @include hbox;

  }


  .rm-level-1 {
    
    position: absolute;
    left: 100%;

    display: flex;
    flex: 1;
    margin-top: 0.5em;
    height: 4em;

    /* flex-direction: column-reverse; */

    .rm-spacer {
      display: none;
    }

    @media screen and (min-width: $bp_medium) {
      
      flex-direction: row;
      height: auto;

      .rm-spacer {
        display: flex;
      }

    }   

    .widget,
    .widget > ul {
      align-items: center;
      flex: 1;
      height: 1.1em;
      overflow: hidden;

      @media screen and (min-width: $bp_medium) {
        flex: none;
      }

    }

    .widget > ul > li {
      align-content: center;
      flex: 1;
      text-align: center;
      @media screen and (min-width: $bp_medium) {
        flex: none;
      }
    }
    
    @media screen and (min-width: $bp_medium) {
      margin-top: 0;
      
      .widget > ul > li {
        flex: none;
      }
    }

  }

}



.footer-navigation {
  ul.menu {
    
    flex-direction: row;
    font-weight: 100;
    text-transform: unset;
    font-size: 0.5rem;

  }
}

.widget_nav_menu {

  padding-top: 1rem;
  flex-direction: row;

  h2.widget-title {
      display: none;
  }

}