
.sale-teaser {

  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  &> div {
    justify-content: center;
    text-align: center;
  }

  .layers {

    position: relative;
    height: 3.4rem;

    .layer {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      @include center;
      img {
        height: 100%;
        width: auto;
      }
    }

  }

  .sale-teaser-caption {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #52feb3;
  }

  .links {
    width: 100%;
    align-content: center;
    align-items: center;    

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        padding: 0.6rem 0.4rem;

        a > br {
          display: none;
        }
      }
    }

    img {
      width: 6.5rem;
      height: auto;
    }
  }

  .tba {
    font-size: 0.8rem;
    font-weight: 400;
  }

}