

/* =====================
Layout and Grid
===================== */

$container-width: rem-calc(1340);
$total-columns: 12;
$column-gutter: rem-calc(20);
$row-gutter: rem-calc(20);



/* =====================
Buttons
===================== */

$action-button-width-mobile: rem-calc(60);
$action-button-width-desktop: rem-calc(80);
