

$small-range: (0px, #{em-calc(739)} );
$medium-range: (#{em-calc(740)}, #{em-calc(1023)});
$large-range: (#{em-calc(1024)}, #{em-calc(1439)});
$xlarge-range: (#{em-calc(1440)}, #{em-calc(99999999999999999)});

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$portrait-medium-up: "#{$screen} and (orientation: portrait) and (min-width:#{lower-bound($medium-range)})";
$landscape-medium-up: "#{$screen} and (orientation: landscape) and (min-width:#{lower-bound($medium-range)})";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";


$mobile-landscape: "#{$screen} and (orientation: landscape) and (max-width:#{upper-bound($small-range)})";

$medium-narrow-ratio: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)}) and (min-aspect-ratio: 740/430)";


$wide-screen: "screen and (min-width: 58em)";
$medium-screen: "screen and (min-width: 48em)";