$font-size-base : 17px;
$font-size-small: 13px;
$font-size-tiny: 11px;

$global-line-height: (30/25);

$font-family-sans-serif-regular: raleway, sans-serif;
$font-sans-serif-regular: normal normal 400 15px/1.3em raleway, sans-serif;
$font-family-sans-serif-medium: $font-family-sans-serif-regular;
$font-family-sans-serif-bold: normal normal 700 25px/1.4em raleway,sans-serif;
$font-family-sans-serif-black: $font-family-sans-serif-bold;
$font-family-monospace: $font-family-sans-serif-regular;
$font-family-serif-regular: $font-family-sans-serif-regular;
$font-family-serif-bold: $font-family-sans-serif-bold;

$rem-factor: 0.9;

@mixin font-size-h1() { 
  font-size: 30px;
  font-size: 1.875rem * $rem-factor;
}

@mixin font-size-h2() { 
  font-size: 26px;
  font-size: 1.625rem * $rem-factor;
}

@mixin font-size-h3() { 
  font-size: 22px;
  font-size: 1.375rem * $rem-factor;
}

@mixin font-size-h4() { 
  font-size: 18px;
  font-size: 1.125rem * $rem-factor;
}

@mixin font-size-h5() { 
  font-size: 13px;
  font-size: 0.8125rem * $rem-factor;
}

@mixin font-size-h6() { 
  font-size: 16px;
  font-size: 1rem * $rem-factor;
}

@mixin font-size-normal() {
  font-size: 18px;
  font-size: 1rem * $rem-factor;
  line-height: 1.5;
}


@mixin font-default() {
  /* font: $font-sans-serif-regular; */
  font-family: $font-family-sans-serif-regular;
  font-weight: 100;
  font-size: $font-size-base;
  line-height: $global-line-height;
  /* font-weight: 400;
  font-size: $font-size-base; */
}

@mixin font-link() {
  font: $font-family-sans-serif-bold;
}