$font-size-base : 16px;
$global-line-height: (30/22);

$tablet-factor: 1.5; // deprecated

$font-family-sans-serif-regular: normal normal 400 25px/1.4em raleway, sans-serif;
$font-family-sans-serif-medium: $font-family-sans-serif-regular;
$font-family-sans-serif-bold: normal normal 700 25px/1.4em raleway,sans-serif;
$font-family-sans-serif-black: $font-family-sans-serif-bold;
$font-family-monospace: $font-family-sans-serif-regular;
$font-family-serif-regular: $font-family-sans-serif-regular;
$font-family-serif-bold: $font-family-sans-serif-bold;


@mixin font-default() {
  font-family: $font-family-sans-serif-regular;
  font-weight: 400;
}

@mixin font-link() {
  font: $font-family-sans-serif-bold;
}
