@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dots {

    0% {
        content: ""
    }
    25% {
        content: "."
    }
    50% {
        content: ".."
    }
    75% {
        content: "..."
    }
}


@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes wobble {
    0% {
        transform: none;
    }
    20% {
        transform: rotate(-1deg) translate(-2%, -2%);
    }
    30% {
        transform: rotate(1deg) translate(-2%, 0);
    }
    40% {
        transform: rotate(0deg) translate(0, 2%);
    }
    60% {
        transform: rotate(-1deg) translate(0, -2%);
    }
    80% {
        transform: rotate(1deg) translate(-2%, -2%);
    }
    100% {
        transform: none;
    }
}
