
body, html, a {

  font-family: $font-family-sans-serif-regular;
  color: $color-font-bright;
  line-height: 1.4rem;
  font-weight: 100;
}

.menu, 
.widget > ul {

  .current-menu-item, .current-lang {

    a {
      color: rgba(255,255,255,0.7);
    }

  }

}

a, a:hover, a:active {
  text-decoration: none;
  box-shadow: none;
}

/** caption */

.wp-caption {
  font-family: $font-family-sans-serif-regular;

  &.aligncenter {
    text-align: center;
  }
}
/* 

.site-main {

  @media #{$large-only} {
    @include font-size-normal;
  }

}
 */

p {
  
  @media screen and (min-width: $bp_medium) {
    /* font-size: 0.7em; */
    font-size: 1em;
  }

  line-height: 1.15;
}

/** headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.4;
  margin: 0 0 0.25em;
  padding: 0.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  padding-top: 0;
}

h1 {
  @include font-size-h1;
  font-weight: 400;
  margin-bottom: 1em;
}

h2,
.home.blog .entry-title {
  @include font-size-h2;
  font-weight: 400;
  margin-bottom: .8em;
}

h3 {
  @include font-size-h3;
  font-weight: 400;
  margin-bottom: .5em;
}

h4 {
  @include font-size-h4;
  font-weight: 700;
  margin-bottom: .2em;
}

h5 {
  @include font-size-h5;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: .2em;
}

h6 {
  @include font-size-h6;
  font-weight: 700;
  margin-bottom: .2em;
}



.demo-section {
  font-size: 1.4rem;
}