
.site-content {

  .entry-content {

    ul.downloads {
      list-style: none;

      > li > a {

        text-decoration: none;
        font-style: italic;

        padding: 0.4rem 32px 0;
      
        /* @media screen and (min-width: $bp_small) {
          padding: 0.25rem 1.5rem;
        } */

        background-position: 0 0;
        background-size: 32px 32px;
        background-repeat: no-repeat;

        &.download-link-dropbox {
          @include icon-dropbox-white();
          &:hover {
            @include icon-dropbox();
          }
        }

      }
    }

  }

}